@using Sammak.MvvmWebApp.ViewModelLayer
@model ProductViewModel

@if (Model.DataCollection.Count > 0)
{
	<div class="table-responsive">
		<table class="table table-condensed table-bordered table-striped table-hover">
			<thead>
				<tr>
					<th>Product Name</th>
					<th>Introduction Date</th>
					<th>Url</th>
					<th>Price</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model.DataCollection)
				{
					<tr>
						<td>@item.ProductName</td>
						<td>
							@Convert.ToDateTime(item.IntroductionDate)
							.ToShortDateString()
						</td>
						<td>@item.Url</td>
						<td>
							@Convert.ToDecimal(item.Price).ToString("c")
						</td>
						<td>
							<a href="#"
							   data-pdsa-action="edit"
							   data-pdsa-arg="@item.ProductId"
							   class="btn btn-default btn-sm">
								<i class="glyphicon glyphicon-edit"></i>
							</a>
						</td>
						<td>
							<a href="#"
							   data-pdsa-action="delete"
							   data-pdsa-arg="@item.ProductId"
							   data-pdsa-deletelabel="Product"
							   class="btn btn-default btn-sm">
								<i class="glyphicon glyphicon-trash"></i>
							</a>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
}
else
{
	<div class="row">
		<div class="col-xs-12">
			<div class="jumbotron">
				<h2>@Model.Message</h2>
			</div>
		</div>
	</div>
}

@section scripts {
	<script type="text/javascript"
			src="~/scripts/pdsa-action.js"></script>
}
